* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

.navubar {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    padding-left: 8%;
    border-bottom: solid rgb(201, 192, 192) 1px;
    position: fixed;
    background-color: white;
    padding-top: 0%;
    margin-top: 0%;
    z-index: 100;

}

.navubar__logo {
    width: 40px;
    height: 40px;

}
.footerslide__logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.navubar__logo--dis {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding-left: 20%;

}

.navubar__dis--sign {
    padding-left: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    align-content: center;
    cursor: pointer;
}

.sign {
    width: 63px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 60px;
    align-items: center;
    padding-left: 8px;
    padding-top: 10px;

}

.title {
    padding-top: 40px;
    padding-left: 43%;
    align-content: center;
    font-size: x-large;
}

.title__h {
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 600;
    position: sticky;
    top: 70px;
    z-index: 99;
    background-color: white;
}

.searchbar {
    align-items: center;
    padding-left: 25%;
    padding-top: 5px;
    gap: 10px;
    width: 60px;
}

.searchbar__po {
    display: flex;
    border: solid black 1px;
    width: 770px;
    gap: 15px;
    padding-left: 10px;
    border-radius: 30px;
    align-items: center;
}

.searchbar__po input {
    border: none;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    width: 40%;
    font-weight: 600;
}

.searchbar__po button {
    align-items: c;
    position: relative;
    left: 318px;
    border: none;
    background-color: rgb(91, 219, 151);
    height: 50px;
    width: 80px;
    border-radius: 30px;
}

.searchbar__po button:hover {
    background-color: yellowgreen;
}

.tripimage {
    padding-top: 50px;
    padding-left: 150px;
    position: relative;
}

.tripimage img {
    width: 95%;
    border-radius: 10px;
    height: 500px;
}

.tripimage__ai {
    font-weight: 800;
    gap: 20px;
    right: 68%;
    align-items: self-start;
    position: absolute;
    bottom: 55%;
    width: 300px;
    height: 200px;
}

.tripimage__ai button {
    background-color: white;
    color: black;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}

.feedback {
    padding-left: 150px;
    font-size: medium;
}

.tripitem {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left: 80px;
}

.tripitem__one {
    position: relative;
}

.tripitem__one h2 {
    position: absolute;
    bottom: 1px;
    left: 170px;
    color: white;
}

.tripitem img {
    width: 270px;
    height: 200px;
    border-radius: 10px;
}

.chennai {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    padding-left: 88px;
}

.chennai__one p {
    margin: 0%;
    padding-top: 5px;
}

.chennai img {
    width: 270px;
    height: 200px;
    border-radius: 10px;
}

.morexplore {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 20px;
    padding: 5px;
    background-color: rgb(209, 203, 203);
    padding-left: 110px;
    height: 400px;
}

.morexplore__one {
    display: flex;
    flex-grow: 1;
    flex-basis: 33px;
    flex-wrap: wrap;
    gap: 60px;
}

.morexplore__one--con {
    width: 30%;
    height: 25%;
    justify-content: center;
    align-content: center;

}

.morexplore__one--con a {
    color: black;
    text-decoration: none;
}

.morexplore img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.explore {
    background-color: rgb(177, 181, 213);
    display: flex;
    height: 500px;
    width: 90%;
    padding-top: 50px;
    align-content: center;
    justify-content: space-around;
}

.explore button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-weight: 600;
}

.footer {
    background-color: rgb(212, 212, 212);
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 100px;
    display: flex;
}

.footer__one {
    display: flex;
    justify-content: start;
    gap: 30px;
    font-size: small;
}

.footer__two {
    padding-left: 550px;
}

.footerslide {

    background-color: rgb(212, 212, 212);
    
    padding-left: 100px;
    display: flex;
    align-items: center;

}

.footerslide__one {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    font-size: xx-small;
    text-decoration: underline;
    width: 800px;
}

.footerslide__para {
    justify-content: start;
    font-size: x-small;
    width: 800px;
}

.footerslide__select {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 20%;
    /* height: 50px;
    border-radius: 10px; */
}
.footerslide__select select{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    color: black;
    font-weight: 800;x
    align-items: center ;
}   

@media screen and (max-width:600px) {
   .body{
    font-size: 8px;
    font-weight: 300;
    padding-left: 0%;
   }
   
    .navubar__logo--dis, .title,{
        display: none;
    }
    .list{
        font-size: 8px;
    }
    .searchbar{
        width: 0px;
    }
    .morexplore{
        flex-grow: 1;
        flex-basis: 10px;
       }
       .explore{
        flex-basis: 80%;
       }
}
